.register__wrapper{
    background: url('../../assets/images/to-do.jpg');
    box-shadow: inset 0 0 0 100vw rgba(0,0,0,0.6);
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
}

.register__form{
    margin: 0 auto;
    width: 30rem;
    max-width: 80%;
    box-sizing: border-box;
    border-radius: 0.3rem;
    border: 1px solid lightgray;
    padding: 1.5rem;
    background-color: white;
}

.register__form__header{
    padding: 0.5rem 0;
}

.register__form__header span{
    font-size: 1.6rem;
    font-weight: 500;
}

.form__control{
    margin: 0.5rem 0;
}

.form__control input{
    width: 100%;
    padding: 0.9rem;
    font-size: 1.1rem;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 0.3rem;
    box-sizing: border-box;
    transition: 0.2s ease-in;
}

.form__control input:focus{
    border: 1.5px solid #0080ff;
    padding: calc(0.9rem - 0.03rem);
}


.floating__label{
    position: relative;
    top: -2.1rem;
    left: 10px;
    color: gray;
    pointer-events: none;
    transition: 0.1s ease-in;
    padding: 0rem 0.5rem;
}

.form__control input:focus ~ .floating__label{
    top: -3.7rem;
    background-color: rgba(255,255,255,1);
    color: #0080ff;
    font-size: 0.8rem;
}

.form__control input:not(:focus):valid ~ .floating__label{
    top: -3.7rem;
    background-color: rgba(255,255,255,1);
    font-size: 0.8rem;
}

.form__control__error input{
    border-color: red !important;
}

.form__control__error .floating__label{
    color: red !important;
}

.form__actions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
}

.form__actions button{
    font-size: 1rem;
    color: white;
    background-color: #0080ff;
    border-radius: 0.2rem;
    border: 1px solid #0080ff;
    cursor: pointer;
    width: 8rem;
    height: 2.5rem;
}

.form__actions button:hover{
    background-color: rgba(0,127,255, 0.7);
    border-color: rgba(0,127,255, 0.7);
}

.form__actions div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__actions span{
    font-size: 0.9rem;
    padding-right: 0.2rem;
}

.form__actions a{
    text-decoration: none;
    color: #0080ff;
}

.form__actions a:hover{
    color: rgba(0,127,255, 0.7);
}

.alert{
    padding: 0 0 0.5rem 0.2rem;
}

.alert-failure span{
    color: red;
}

.alert-success span{
    color: green;
    font-weight: light;
}